/*!
 * CHS v. 0.0.1
 * Copyright 2018 Ignacio Cabrera - Matías Schmid
 */

html,
body {
    height: 100%;
}

.center {
    text-align: center;
}

#cuadroLogin {
    display: none;
}

.mainGradient {
    background-image: linear-gradient(#89bcff, #217ed4);
}

.transparentBorder {
    background: white;
    border: 20px solid rgba(0, 0, 0, 0.1);
}

#divError,
#divErrorCambiarClave {
    color: rgba(198, 6, 6, 0.9);
    text-align: center;
    display: none;
}

.invisible {
    display: none;
}

/* Vista login */

#vistaLogin {
    height: 100%;
}

#vistaEscritorioSocio {
    height: 100%;
    display: none;
}

#vistaEscritorioMedico {
    height: 100%;
    display: none;
}

/* Modals */

#imgModalActuacion {
    width: 80%;
    height: 80%;
}

#btnAgregar {
    padding: 0.6em;
    width: 12em;
    background-color: #217ed4;
    border-color: #217ed4;
    margin-right: 1em;
    margin-top: 1em;
}

#divErrorAgregarHC {
    display: none;
}