#lblLanguage {
    margin-left: 90%;
    margin-right: 20px;
    text-align: left;
}

table {  
    margin-left: auto;
    margin-right: auto;
}

table tr td {
    background-color: rgb(#124ba0, green, blue);
    height: 40px;
}

table tr:first-child {
    text-align: center;
}

input {
    border-radius: 12px;
}

.lblType {
    margin-right: 8px;
}

#lblPartner{
    margin-left: 15px;
}

.rdbttnType {
    margin-right: 18px;
}

#bttnLogIn {
    height: 24px;
    width: 72px;
}

table tr:last-child td:last-child {
    text-align: center;
}

#divError {
    text-align: center;
    color: darkred;
}
